html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 1rem; 
}

main {
    max-width: 50rem; 
    margin: auto;
}

h1, h2 {
    text-align: center;
    color: #343a40;
}

.cartao {
    background-color: #fff;
    border-radius: 0.5rem; 
    box-shadow: 0 0.2rem 0.2rem 0.2rem #0000001a; 
    padding: 1rem; 
    margin-bottom: 1.5rem;
}

.grupo-formulario {
    margin-bottom: 1rem; 
}

.grupo-formulario label {
    display: block;
    margin-bottom: 0.2rem; 
    font-weight: bold;
}

.grupo-formulario input {
    width: 100%;
    padding: 0.7rem; 
    border: 0.1rem solid #dee2e6; 
    border-radius: 0.5rem; 
    box-sizing: border-box;
}

button {
    padding: 0.7rem; 
    border: none;
    border-radius: 0.5rem; 
    color: #fff;
    font-size: 1rem; 
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: #007bff;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem; 
}

th, td {
    padding: 1rem;
    border: 0.1rem solid #dee2e6;  
    text-align: left;
    min-width: 8rem;
    max-width: 12rem;
    white-space: nowrap; /* Impede que o texto seja quebrado para a próxima linha. */
    overflow: hidden; /* Oculta o conteúdo que excede a caixa do elemento. */
    text-overflow: ellipsis; /* Exibe reticências para texto recortado. */
}

th {
    background-color: #f8f9fa;
}

.campo-dos-botoes-de-acoes {
    display: flex;
    justify-content: space-around;
}

.botao-de-acao {
    background: none;
    border: none;
    padding: .5rem;
}

.botao-de-acao:hover {
    box-shadow: 0 0.1rem 0.1rem 0.07rem #0000001a;
}

.botao-editar {
    color: #007bff;
}

.botao-excluir {
    color: #dc3545;
}
